.bg {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -4;
    overflow: hidden;
}
  
.bg > div {
    position: absolute;
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    background-color: rgba(100, 100, 100, .2);
}
  
#bgl3 {
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    z-index: -3;
    background-image: url("../img/bg-l3.svg");
    animation: orbit3 20s linear infinite;
}
  
#bgl2 {
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    z-index: -2;
    background-image: url("../img/bg-l2.svg");
    animation: orbit2 20s linear infinite;
}
  
#bgl1 {
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    z-index: -1;
    background-image: url("../img/bg-l1.svg");
    animation: orbit1 20s linear infinite;
}
  
@keyframes orbit3 {
    from { transform: rotate(0deg) translateX(200px) rotate(0deg); }
    to { transform: rotate(360deg) translateX(200px) rotate(-360deg); }
}

@keyframes orbit2 {
    from { transform: rotate(0deg) translateX(150px) rotate(0deg); }
    to { transform: rotate(360deg) translateX(150px) rotate(-360deg); }
}

@keyframes orbit1 {
    from { transform: rotate(0deg) translateX(100px) rotate(0deg); }
    to { transform: rotate(360deg) translateX(100px) rotate(-360deg); }
}