* { margin: 0; }

html {
    height: 100%;
}

body {
    background-color: #000;
    color: rgba(255, 255, 255, 0.95);
    position: relative;
    display: flex;
    align-items: center;
    margin: 0;
    min-height: 100vh;
}

.header {
    position: absolute;
    text-shadow: 1px 1px rgba(100, 100, 100, 0.95);
    top: 0;
    left: 0;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;

    margin: 1em;
    font-family: 'Source Sans Pro', sans-serif;
    text-shadow: 1px 1px rgba(100, 100, 100, 0.95);
}

.title {
    font-family: 'Libre Barcode 39 Text';
}

.header > .title {
    font-size: 5em;
}

.wrapper {
    align-self: center;
    margin: 0 auto;
    padding: 1em;
    max-width: 30em;
    width: 100%;
}

ul.cardsbox {
    margin: 0;
    padding: 0;
}

li.card {
    box-shadow: 1px 1px rgba(100, 100, 100, 0.95);
    list-style: none;
    margin: 1em auto;
}

li.card > a {
    font-family: 'Source Sans Pro', sans-serif;
    display: block;
    padding: 1.8em;
    color: #000;
    background-color: rgba(255, 255, 255, 0.95);
    text-decoration: none;
}

li.card > a:visited {
    color: #000;
}

.red {
    color: #ff6f69;
}

.yellow {
    color: #ffcc5c;
}

.green {
    color: #88d8b0;
}

.black {
    color: #454545;
}

div.subdomain {
    font-weight: bold;
    font-size: 4rem;
}

div.subdomain::after {
    color: #aaa;
    font-size: 2rem;
    content: attr(domain);
}

div.description {
    font-size: 1.3rem;
    color: #666;
}

@media (max-height: 890px) {
    .header {
        display: none;
    }
}

@media (max-height: 800px) {
    body { 
        min-height: 800px;
    }
}