* { margin: 0; }

html {
    height: 100%;
}

body {
    background-color: #000;
    color: rgba(255, 255, 255, 0.95);
    margin: 0;
    height: 100%;
    min-height: 900px;
}

.title {
    font-family: 'Source Code Pro', monospace;
    font-size: 4em;
    padding: .95rem;
    color: #454545;
    text-shadow: 1px 1px rgba(100, 100, 100, 0.75);
    line-height: .8em;
    margin-bottom: .8em;
}

.footer {
    align-self: flex-end;
    margin: 1em;
    font-family: 'Source Sans Pro', sans-serif;
    color: #666;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.95);
    max-width: 30em;
    width: 100%;
    height: 100%;
}

ul.cardsbox {
    margin: 0;
    padding: 0;
}

li.card {
    transition: linear 100ms;
    box-shadow: 0 0 .25em .25em rgba(100, 100, 100, 0.05);
    list-style: none;
    margin: 1em 0 1em 0;
}

li.card > a {
    font-family: 'Source Sans Pro', sans-serif;
    display: block;
    padding: 1.4em;
    color: #000;
    background-color: rgba(255, 255, 255, 0.95);
    text-decoration: none;
}

li.card:hover {
    box-shadow: 0 .5em .5em rgba(100, 100, 100, 0.2), 0 -0.5em .5em rgba(100, 100, 100, 0.2);
}

li.card > a:active {
    background-color: rgba(220, 220, 220, 0.95);
}

.red {
    color: #ff6f69;
}

.yellow {
    color: #ffcc5c;
}

.green {
    color: #88d8b0;
}

.blue {
    color: #59aee2;
}

.black {
    color: #454545;
}

div.subdomain {
    font-weight: bold;
    font-size: 3rem;
}

div.subdomain::after {
    color: #aaa;
    font-size: 1.5rem;
    content: attr(domain);
}

div.description {
    font-size: 1.2rem;
    color: #666;
}

.copyleft {
    display:inline-block;
    top: 2px;
    position: relative;
    transform: rotate(180deg);
}

/* background */
.bg {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -4;
    overflow: hidden;
}
  
.bg > div {
    position: fixed;
    background-repeat: repeat;
    background-size: 95em;
    background-color: rgba(100, 100, 100, .2);
}
  
#bg_layer1 {
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    z-index: -3;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="1920" height="1080"><path fill="#96ceb4" fill-rule="evenodd" d="M311.01 479.716l77.274-20.706 20.706 77.274-77.275 20.706zm115.753 110.928l96.592-25.88 25.882 96.59-96.592 25.883zm185.752 266.93l115.91-31.06 31.06 115.91-115.91 31.06zm498.495-465.858l77.274-20.706 20.706 77.274-77.274 20.706zm103.258 378.787l164.22-44.003 44.002 164.22-164.22 44.003zM651.01 71.716l77.274-20.706 20.706 77.274-77.274 20.706zm981.506 41.858l115.91-31.06 31.06 115.913-115.912 31.058zm-734.248 416.93l164.403-44.053 44.06 164.41-164.4 44.05zm-385.753-110.93l115.91-31.058 31.06 115.91-115.91 31.06zm-391.152 530.78l77.274-20.707 20.705 77.274-77.274 20.71zm-15.11-785.476l115.91-31.058 31.06 115.91-115.91 31.06zm460.262 72.695l115.91-31.058 31.06 115.91-115.912 31.06zm-240 42.087l115.91-31.057 31.06 115.91-115.91 31.06zM260.56 807.102l209.43-56.116 56.118 209.43-209.43 56.118zm-9.55-155.387l77.274-20.705 20.706 77.274-77.274 20.705zm700-420l131.523-35.24 35.24 131.52-131.52 35.243zm20 540l77.274-20.705 20.706 77.274-77.274 20.706zM679.648 645.363l77.274-20.705 20.705 77.274-77.274 20.708zm703.362-351.646l77.274-20.706 20.706 77.28-77.274 20.71zM800.763 78.647l96.593-25.884 25.882 96.593-96.593 25.882zm298-34l96.592-25.884 25.882 96.592-96.593 25.882zm164 419.997l96.592-25.88 25.882 96.59-96.593 25.883zM1493.44 818.97l138.413-37.087 37.088 138.414-138.41 37.087zM58.763 674.645l96.593-25.882 25.882 96.593-96.593 25.88zm1200-550l96.592-25.88 25.882 96.59-96.592 25.882zm156 440l96.592-25.883 25.882 96.593-96.593 25.882zM915.703 930.94l96.594-25.88 25.882 96.592-96.6 25.882zM820 778.787l57.955-15.53 15.53 57.956-57.956 15.53zm-356.743-620l57.956-15.53 15.53 57.956-57.957 15.53zM129.493 447.81l57.956-15.53 15.52 57.956-57.96 15.53zm1049.765 200.977l57.955-15.53 15.53 57.956-57.956 15.53zm-26 314.743l57.956-15.53 15.53 57.956-57.957 15.53zm468-400.743l57.956-15.53 15.53 57.956-57.957 15.53zm114 358l57.955-15.53 15.53 57.956-57.956 15.53zm-240-824l57.955-15.53 15.53 57.956-57.956 15.53zm-912 962l57.955-15.53 15.53 57.957-57.957 15.53zm0-1080l57.955-15.53 15.53 57.956-57.956 15.53zM-93.484 1057.573l115.91-31.058 31.06 115.91-115.912 31.06zm0-1080l115.91-31.058 31.06 115.91-115.913 31.06zm1920 0l115.91-31.057 31.06 115.91-115.912 31.06zm0 1080l115.91-31.058 31.06 115.91-115.913 31.06zm-284.28-344.55l57.955-15.53 15.53 57.956-57.95 15.52zm14.737-358.67l132.315-35.455 35.454 132.316-132.316 35.454zm147.79 370.29l96.593-25.88 25.882 96.59-96.593 25.884zm119.504-304.14l135.23-36.236 36.235 135.23-135.23 36.235zm-1920 0l135.23-36.235 36.235 135.23-135.23 36.234zm1474.496 624.14l96.593-25.88 25.882 96.592-96.593 25.882zm0-1080l96.592-25.88 25.882 96.592-96.593 25.882zm-624.495 385.86l133.363-35.735 36.24 135.23-133.36 35.734zM371.01 1091.715l77.275-20.706 20.705 77.27-77.274 20.7zm0-1080L448.284-8.99l20.706 77.274-77.274 20.706zM57.258 76.785l57.956-15.53 15.53 57.958-57.957 15.53zm-86.248 154.93l77.275-20.705 20.705 77.274-77.274 20.706zm1920 0l77.274-20.704 20.706 77.28-77.274 20.71z"/></svg>');
    animation: orbit3 20s linear infinite;
}
  
#bg_layer2 {
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    z-index: -2;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="1920" height="1080"><path fill="#ffeead" fill-rule="evenodd" d="M901.515 529.24l115.91-31.058 31.06 115.91-115.912 31.06zm247.753 109.596l135.23-36.234 36.235 135.23-135.23 36.234zm-381.01-30.05l57.955-15.53 15.53 57.958-57.956 15.53zM852.4 392.52l75.082-20.118 20.12 75.082-75.084 20.12zM478.763 544.644l96.592-25.882 25.882 96.593-96.592 25.882zm-281.88-368.196l162.833-43.63 43.63 162.832-162.832 43.63zm817.385 14.054l135.23-36.234 36.234 135.23-135.23 36.234zm560 360l135.23-36.234 36.234 135.23-135.23 36.234zm-180 320l135.23-36.234 36.234 135.23-135.23 36.234zM338.763 924.644l96.592-25.882 25.882 96.593-96.592 25.882zm-220-360l96.592-25.88 25.882 96.59-96.593 25.883zm510-370l96.592-25.88 25.882 96.59-96.593 25.883zm1065 90.43l96.593-25.88 25.882 96.59-96.593 25.883zm-70.505 493.712l57.955-15.53 15.53 57.957-57.956 15.53zm-157.688-349.43l57.954-15.53 15.53 57.956-57.956 15.53zm-30.077 220.454l57.956-15.53 15.526 57.955-57.956 15.53zM52.4 32.518L127.482 12.4 147.6 87.482 72.518 107.6zm1398.865 38.865l75.082-20.118 20.12 75.082-75.084 20.12zm-880 900l75.082-20.117 20.12 75.082-75.084 20.118zM492.4 112.518L567.482 92.4l20.118 75.08-75.082 20.12zm426.362 650.46l96.593-25.88 25.882 96.59-96.593 25.883zm-235.57-290.4l75.083-20.12 20.118 75.085-75.082 20.118zM294.268 710.504l135.23-36.235 36.234 135.23-135.23 36.233zM1435.493 269.81l57.955-15.53 15.53 57.955-57.956 15.53zM78.763 384.645l96.593-25.882 25.882 96.593-96.593 25.882zm274.495 24.142l57.955-15.53 15.53 57.957-57.956 15.53zM786.653 68.62l135.23-36.235 36.234 135.23-135.23 36.234zm905.747 903.9l75.082-20.12 20.118 75.083-75.082 20.118zm-539.142 96.267l57.955-15.53 15.53 57.956-57.956 15.53zm0-1080l57.956-15.53 15.53 57.956-57.957 15.53zM191.266-28.616l75.082-20.12 20.118 75.084-75.082 20.118zm0 1080l75.082-20.118 20.118 75.082-75.082 20.118zm755.25-53.81l115.91-31.06 31.06 115.91-115.912 31.06zm0-1080l115.91-31.06 31.06 115.91-115.913 31.06zm846.742 151.213l57.956-15.53 15.53 57.956-57.957 15.53zm-646.668 300l185.416-49.68 49.682 185.413-185.415 49.682zM643.826 748.142l145.22-38.912 38.91 145.22-145.218 38.913zM478.763 324.645l140.244-37.578 37.58 140.244-140.246 37.58zM1612.4 132.518l75.082-20.118 20.118 75.082-75.082 20.118zM483.257-21.212l57.956-15.53 15.53 57.955-57.957 15.53zm0 1080l57.956-15.53 15.53 57.955-57.956 15.53zM74.927 842.12l95.275-25.53 25.53 95.277-95.275 25.53zm-31.67-583.333l57.957-15.53 15.53 57.956-57.957 15.53z"/></svg>');
    animation: orbit2 20s linear infinite;
}
  
#bg_layer3 {
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    z-index: -1;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="1920" height="1080"><path fill="#ff6f69" fill-rule="evenodd" d="M512.373 822.07l77.274-20.707 20.705 77.274-77.274 20.706zm67.98-751.972l154.55-41.41 41.41 154.547-154.548 41.41zM151.59 345.453l57.957-15.53 15.53 57.957-57.957 15.53zm423.258 285.454l115.91-31.058 31.06 115.91-115.91 31.055zM440.468 430.92l96.59-25.883 25.88 96.593-96.59 25.882zM1637.02 166.764l104.717-28.058 28.06 104.717-104.718 28.058zm-181.667 673.334l99.26-26.596 26.596 99.26-99.26 26.596zM188.687 788.43l154.55-41.41 41.41 154.548-154.55 41.41zM1368.56 513.102l115.91-31.058 31.06 115.91-115.912 31.06zm-102.045 304.472l65.51-17.553 17.554 65.51-65.51 17.557zm440-40l115.91-31.06 31.06 115.912-115.912 31.06zM693.8 307.584l96.592-25.88 25.882 96.592-96.593 25.882zm164.962 577.06l96.593-25.88 25.882 96.59-96.593 25.883zM71.01 211.714l77.275-20.704 20.705 77.274-77.274 20.705zm1364.344 81.67l77.274-20.707 20.705 77.274-77.274 20.71zm-239.344 88.33l92.672-24.83 24.832 92.67-92.672 24.833zM523.257 978.787l57.956-15.53 15.53 57.957-57.957 15.53zm1069.925-348.333l57.955-15.53 15.53 57.957-57.956 15.53zm-664.924-490l57.955-15.53 15.53 57.956-57.956 15.53zM46.515-62.426l115.91-31.058 31.06 115.91-115.912 31.06zm0 1080l115.912-31.058 31.058 115.91-115.91 31.06zm735-480l228.848-61.32 61.32 228.847-228.848 61.32zM1553.26 48.786l57.955-15.53 15.53 57.956-57.956 15.53zM-137.98 523.43l154.55-41.41 41.41 154.548-154.55 41.41zm1920 .002l154.548-41.41 41.41 154.547-154.547 41.41zm-153.46 509.67l115.91-31.057 31.06 115.91-115.912 31.06zm0-1080l115.91-31.06 31.06 115.913-115.912 31.06zm-619.797 381.543l96.593-25.882 25.882 96.592-96.593 25.882zm-822.248 167.93l115.91-31.06 31.06 115.91-115.912 31.06zm1135.505 569.14l77.274-20.705 20.706 77.274-77.274 20.706zm0-1080l77.275-20.705L1420 48.284l-77.274 20.706zM298.763 144.645l96.593-25.88 25.882 96.592-96.593 25.882zm864.494 494.143l57.956-15.53 15.53 57.956-57.957 15.53zm-80.075 268.787l115.91-31.06 31.06 115.913-115.912 31.058zM670.43 802.978l96.592-25.882 25.882 96.593-96.593 25.88zm-612.173 5.81l57.956-15.53 15.53 57.955-57.956 15.53zm1260-651.668l57.957-15.53 15.53 57.957-57.957 15.53z"/></svg>');
    animation: orbit1 20s linear infinite;
}
  
@keyframes orbit3 {
    from { transform: rotate(0deg) translateX(200px) rotate(0deg); }
    to { transform: rotate(360deg) translateX(200px) rotate(-360deg); }
}

@keyframes orbit2 {
    from { transform: rotate(0deg) translateX(150px) rotate(0deg); }
    to { transform: rotate(360deg) translateX(150px) rotate(-360deg); }
}

@keyframes orbit1 {
    from { transform: rotate(0deg) translateX(100px) rotate(0deg); }
    to { transform: rotate(360deg) translateX(100px) rotate(-360deg); }
}